@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  background-color: unset;
}

body {
  font-family: Helvetica, sans-serif;
}

canvas {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.leaflet-bottom,
.leaflet-popup-close-button,
.leaflet-control-zoom,
.leaflet-popup-tip {
  display: none !important;
}

/* offset popup */
.leaflet-popup {
  margin-bottom: 35px !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip,
nav {
  /* backdrop-filter: blur(12px) !important; */
  background: rgb(255, 255, 255) !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  box-shadow: none !important;
}

.leaflet-marker-icon {
  transition: all 0.3s ease-in-out !important;
}

.leaflet-marker-icon:hover {
  cursor: pointer;
  opacity: 0.5 !important;
}

nav * {
  transition: all 0.5s ease-in-out !important;
  padding: 0.2em 0.5em;
  border-radius: 3em;
}

.leaflet-popup-content {
  padding: 0 !important;
  margin: 0 !important;
}

.swiper-pagination-bullet {
  background: #ffffff53 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #c52627 !important;
  opacity: 1 !important;
}

.mySwiper {
  border-radius: 12px;
}

/* hide scrollbar  */

::-webkit-scrollbar {
  display: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
